# Repository-wide owners.
* @PowerCyber-Laboratory-ISU/project-leads

# Documentation and deliverables.
/docs/ @PowerCyber-Laboratory-ISU/project-leads
/deliverables/ @PowerCyber-Laboratory-ISU/project-leads
/reports/ @PowerCyber-Laboratory-ISU/project-leads
/publications/ @PowerCyber-Laboratory-ISU/project-leads

