# Repository-wide owners.
* @PowerCyber-Laboratory-ISU/project-leads

# Project artifacts.
/models/ @PowerCyber-Laboratory-ISU/project-leads
/datasets/ @PowerCyber-Laboratory-ISU/project-leads
/posters/ @PowerCyber-Laboratory-ISU/project-leads
/presentations/ @PowerCyber-Laboratory-ISU/project-leads
/reports/ @PowerCyber-Laboratory-ISU/project-leads